.UserPreferences{

    display: flex;
    justify-content: center;

    md-card{
        margin: 10px;
    }

    .password-error__container{
        background: indianred;
        margin: 10px 0;
        color: #fff;
    }
}