.form-group{
    padding-top: 15px;
}

.subtype--dropdown{
    margin-left: 30px;
    margin-top: 15px;
}

.chip--list{
    margin: 10px
}

.button__container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}