<section class="CreateExpense">
  <span class="widget--header">Create Expense</span>
  <div class="boxed-container">
    <form>
      <div class="row">
        
        <div class="col-md-12">
          <div class="form-group">
            <md-select placeholder="Select Expense Account" [(ngModel)]="selectedExpenseAccount" name="expenseType" class="full-width-form-control" (change)="updateExpenseNames($event.value)">
              <md-option *ngFor="let type of expenseTypes" [value]="type.ExpenseAccountId">
                {{type.ExpenseAccountName}}
              </md-option>
            </md-select>
          </div>
          <div class="form-group">
            <md-select placeholder="Create Expense Name" [(ngModel)]="selectedExpenseName" name="expenseName" class="full-width-form-control">
              <md-option *ngFor="let name of expenseAccountForNames.Expenses" [value]="name.ExpenseName">
                {{name.ExpenseName}}
              </md-option>
              <md-option value="-1" (click)="openDialog()">
                Add New
              </md-option>
            </md-select>
            <md-chip-list class="mat-chip-list-stacked chip--list" *ngIf="newExpenseName">
              <md-chip selected="true" color="primary">
                {{newExpenseName}}
              </md-chip>
            </md-chip-list>
          </div>
          <div class="form-group">
            <md-input-container class="full-width-form-control">
              <input mdInput placeholder="Bill Amount" [(ngModel)] = "billAmount" name="billAmount">
            </md-input-container>
          </div>
          <div class="form-group">
            <label for="expenseType">Type of Expense</label>
            <md-radio-group [(ngModel)]="selectedExpenseType" name="expenseTypes" class="radio-group-vertical">
              <md-radio-button *ngFor="let option of expenseTypeOptions" [value]="option.id" class="radio-button">
                {{option.value}}
              </md-radio-button>
            </md-radio-group>
            <md-select placeholder="Variable/Fixed" [(ngModel)]="recurringType" name="recurringType" class="subtype--dropdown" *ngIf="selectedExpenseType == -1">
              <md-option *ngFor="let type of recurringTypes" [value]="type.id">
                {{type.value}}
              </md-option>
            </md-select>
          </div>
          <div class="form-group">
            <p-calendar [(ngModel)]="billDate" dateFormat="dd/mm/yy" name="billDate"></p-calendar>
          </div>
          <div class="form-group">
            <md-select placeholder="Frequency" [(ngModel)]="selectedFrequencyType" name="frequencyType" class="full-width-form-control">
              <md-option *ngFor="let type of frequencyTypes" [value]="type.FrequencyName">
                {{type.FrequencyName}}
              </md-option>
            </md-select>
          </div>
        </div>
        <div class="col-md-12 button__container">
          <button md-button routerLink="/expense-accounts">Cancel</button>
          <button md-raised-button (click)="saveExpenseRecord()">{{isInEditMode? 'Save':'Add'}}</button>
        </div>

      </div>
    </form>
  </div>
</section>