<section class="ExpenseOverview bottom-spacing">
  <span class="widget--header">Expense Account Overview</span>
  <div class="boxed-container datagrid__container">
    <p-dataTable [value]="expenses">
        <p-column field="ExpenseName" header="Expense Account" sortable="true"></p-column>
        <p-column field="BillAmount" header="Total Amount" sortable="true">
            <template let-col let-car="rowData" pTemplate="body">
                {{car[col.field] | currency:'USD':true}}
            </template>
        </p-column>
    </p-dataTable>
  </div>
</section>
