<section class="Incomes bottom-spacing">
    <div class="loader__container" *ngIf="loading">
        <md-spinner></md-spinner>
    </div>
    <md-card>
        <div class="margin-bottom-20">
            <button md-raised-button routerLink="/create-income">Create Income</button>
        </div>
        <p-dataTable [value]="income" [editable]="true" [responsive]="true" (onEditComplete)="handleIncomeEdit($event)">
            <p-column field="IncomeSourceType.IncomeSourceName" header="Income Source" sortable="true"></p-column>
            <p-column field="IncomeAmount" header="Bill Amount" sortable="true" [editable]="true">
                <ng-template let-col let-income="rowData" pTemplate="body">
                    {{income[col.field] ? (income[col.field] | currency:'USD':true) : ""}}
                </ng-template>
            </p-column>
            <p-column field="IncomeDate" header="Income Date" sortable="true">
                <ng-template let-col let-income="rowData" pTemplate="body">
                    {{income[col.field] | date: 'dd/MM/y'}}
                </ng-template>
            </p-column>
            <p-column field="Frequency" header="Frequency" sortable="true"></p-column>
            <p-column field="LinkedExpenses" header="Linked Expenses"></p-column>
            <p-column>
                <ng-template let-income="rowData" pTemplate="body">
                    <div class="button-row">
                        <button md-mini-fab routerLink="/create-income/{{income.IncomeId}}"><md-icon>edit</md-icon></button>
                        <button md-mini-fab (click)="deleteIncome(income)"><md-icon>delete</md-icon></button>
                    </div>
                </ng-template>
            </p-column>
        </p-dataTable>
    </md-card>
</section>