<section class="ExpenseOverview bottom-spacing">
  <div class="loader__container" *ngIf="loading">
      <md-spinner></md-spinner>
  </div>
  <div class="boxed-container datagrid__container">
    <p-dataTable [value]="expenses" [rows]="4" [paginator]="expenses.length>4" [pageLinks]="3">
        <p-header>Expense Overview</p-header>
        <p-column field="ExpenseName" header="Expense Account" sortable="true"></p-column>
        <p-column field="BillAmount" header="Total Amount" sortable="true">
            <ng-template let-col let-expense="rowData" pTemplate="body">
                {{expense[col.field] | currency:'USD':true}}
            </ng-template>
        </p-column>
    </p-dataTable>
  </div>
</section>
