<section class="ImportantDates bottom-spacing">
  <div class="loader__container" *ngIf="!importantDates.length">
    <md-spinner></md-spinner>
  </div>
  <div class="boxed-container datagrid__container">
    <p-dataTable [value]="importantDates" [rows]="4" [paginator]="importantDates.length>4" [pageLinks]="3">
        <p-header>Important Dates</p-header>
        <p-column field="ExpenseAccount.ExpenseAccountName" header="Expense Account" sortable="true"></p-column>
        <p-column field="ExpenseName" header="Expense" sortable="true"></p-column>
        <p-column field="BillDate" header="Due On" sortable="true">
            <template let-col let-car="rowData" pTemplate="body">
                {{car[col.field] | date: 'dd/MM/y'}}
            </template>
        </p-column>
        <p-column field="BillAmount" header="Bill Amount" sortable="true">
            <template let-col let-car="rowData" pTemplate="body">
                {{car[col.field] | currency:'USD':true}}
            </template>
        </p-column>
    </p-dataTable>
  </div>
</section>